.fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
  position: absolute;
  width: 200px;
}

.input {
  border: 1px solid var(--text);
  border-radius: 4px;
  color: var(--text);
}

.input:focus {
  border: 1px solid white;
  outline: 1px solid white;
  border-radius: 4px;
}

.submit-btn {
  background-color: var(--text);
  border: 1px solid var(--text);
  color: lightgray;
  border-radius: 4px;
  align-self: center;
  font-size: 20px;
  padding: 2px 6px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  width: 300px;
  height: 200px;
  background: white;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  color: dimgray;
  position: absolute;
  top: 0;
  right: 0;
}

.modal__close-btn > svg {
  width: 12px;
  height: 12px;
}

.modal__close-btn > svg > path {
  fill: dimgray;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  padding: 32px;
  position: relative;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}
